{% extends 'base.html.twig' %}
{% block stylesheets %}
		<link rel="stylesheet" id="jplayer-css" href="/js/jplayer-2.9.2/skin/blue.monday/css/jplayer.blue.monday.css" type="text/css" />
{% endblock %}
{% block body %}
				<header id="header" class="header-recherche">
					<div id="logo">
						<h1 class="site-title">Logo</h1>
					</div>
					<nav id="site-navigation" class="main-navigation navigation" role="navigation">
						<button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false">
							<span>Menu</span>
						</button>
						<div class="menu">
							<ul class="nav-menu">
								<li class="page_item page-item-1 current_page_item focus">
									<a href="/afficheRecherche">Rechercher
										un article</a>
								</li>
								<li class="page_item page-item-2">
									<a href="/accederAuPanier">Panier</a>
								</li>
							</ul>
						</div>
					</nav>
				</header>
				<h1>TEST</h1>
				<div>
					<h1>{{ article.title }}</h1>
					<p>{{ article.content }}</p>
					<p>Category: {{ article.category }}</p>
					<p>Author: {{ article.author }}</p>
					<p>Date: {{ article.date|date('Y-m-d') }}</p>
				</div>
{% endblock %}
{% block javascripts %}
				<script type="text/javascript" src="/js/jplayer-2.9.2/jplayer/jquery.jplayer.min.js"></script>
				<script type="text/javascript" src="/js/jplayer-2.9.2/add-on/jplayer.playlist.min.js"></script>
				<script type="text/javascript" src="/js/audio.js"></script>
{% endblock %}