{% extends 'base.html.twig' %}
{% block body %}
	<header id="header" class="header-recherche">
		<div id="logo">
			<h1 class="site-title">TechCase</h1>
		</div>
		<nav id="site-navigation" class="main-navigation navigation" role="navigation">
			<button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false">
				<span>Menu</span>
			</button>
			<div class="menu">
				<ul class="nav-menu">
					<li class="page_item page-item-1 current_page_item focus">
						<a href="/afficheRecherche" class="btn lien">
							<div>
								<p>
									Rechercher
								</p>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
									<path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></svg>
								</div>
							</a>
						</li>
					</li>
					<li class="page_item page-item-2">
						<a href="/accederAuPanier" class="btn lien">
							<div>
								<p>Panier</p>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512">
									<path d="M253.3 35.1c6.1-11.8 1.5-26.3-10.2-32.4s-26.3-1.5-32.4 10.2L117.6 192H32c-17.7 0-32 14.3-32 32s14.3 32 32 32L83.9 463.5C91 492 116.6 512 146 512H430c29.4 0 55-20 62.1-48.5L544 256c17.7 0 32-14.3 32-32s-14.3-32-32-32H458.4L365.3 12.9C359.2 1.2 344.7-3.4 332.9 2.7s-16.3 20.6-10.2 32.4L404.3 192H171.7L253.3 35.1zM192 304v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16s16 7.2 16 16zm96-16c8.8 0 16 7.2 16 16v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16zm128 16v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16s16 7.2 16 16z"></svg>
								</div>
							</a>
						</li>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div id="content" class="site-content">
		<div class="col-full">
			<header class="entry-header">

				<h1 class="entry-title">{{article.category}}</h1>
			</header>

			<!-- .entry-header -->
			<div class="entry-content">
				<div class="pageArticle">
					<div class="pageArticle1">
						<img src="{{ article.image }}" class="card-image" alt="poster_2_up"/>
					</div>
					<div class="pageArticle2">
						<div>
							<p>
								<strong>Produit :</strong>
								{{ article.titre }}</p>
							<p>
								<strong>Prix :</strong>
								{{ article.prix }}
								€
							</p>
							<p>
								<strong>Référence du produit :</strong>
								{{ article.id }}</p>
							{% if article.id is defined and article.id in articleData|keys %}
							<p title="Nombre de votes : {{ articleData[article.id]['nbUsersVotes'] }}">
								<strong>Moyenne du produit :</strong>
								{{ articleData[article.id]['average'] }} / 5</p>
							{% endif %}
						</div>
						{% if article.category is same as("Collaboration") %}
							<div class="infos-complementaires-article">
								<h3 class="infos-complementaires-text">Informations complementaires :</h3>
								{% if article.artiste is defined and article.artiste is not empty%}
									<p>
										<strong>Artiste :</strong>
										{{ article.artiste }}</p>
								{% endif %}
								{% if article.entreprise is defined and article.entreprise is not empty%}
									<p>
										<strong>Entreprise :</strong>
										{{ article.entreprise }}</p>
								{% endif %}
								{% if article.personnage is defined and article.personnage is not empty%}
									<p>
										<strong>Personnage :</strong>
										{{ article.personnage }}</p>
								{% endif %}
								{% if article.univers is defined and article.univers is not empty%}
									<p>
										<strong>Univers :</strong>
										{{ article.univers }}</p>
								{% endif %}
								{% if article.Collection is defined and article.collection is not empty%}
									<p>
										<strong>Collection :</strong>
										{{ article.collection }}</p>
								{% endif %}
							</div>
						{% endif %}
						<a href="/ajouterLigne?id={{ article.id }}" class="btn btn-panier button product_type_simple add_to_cart_button">Mettre dans le panier</a>
					</div>

				</div>
				<div id="zone-evaluation">
					{% if attribute(articleData, article.id) is defined %}
						{% set articleRatingData = attribute(articleData, article.id) %}
						{% set maxRating = 5 %}
						{% if not articleRatingData.hasVoted %}
							<p>Évaluez cet article :</p>
							<div class="rating-stars">
								{% for i in 1..maxRating %}
									<form method="post" action="{{ path('evaluationArticle') }}">
										<input type="hidden" name="articleId" value="{{ article.id }}">
										<input type="hidden" name="rating" value="{{ i }}">
										<button type="submit">{{ i }}</button>
									</form>
								{% endfor %}
							</div>
						{% else %}
							<div class="zone-evaluation-user">
								<p>Vous avez déjà évalué cet article.
								</p>
								<div class="evaluation-user">
								<p>Votre évaluation :
								</p>
									{% set userRating = articleRatingData.userRating %}
									{% for i in 1..maxRating %}
										{% if i <= userRating %}
											<i class="fas fa-star"></i>
										{% else %}
											<i class="far fa-star"></i>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						{% endif %}
					{% else %}
						<p>Cet article n'est pas évaluable</p>
					{% endif %}
				</div>

				<input type="hidden" id="article-id" value="{{ article.id }}"/>
			<!-- Ajoutez un champ caché pour stocker l'ID de l'article -->

				<!-- .entry-header -->

			</div>
		</div><!-- .col-full --></div><!-- #content -->{% endblock %}
