{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" id="jplayer-css" href="/js/jplayer-2.9.2/skin/blue.monday/css/jplayer.blue.monday.css" type="text/css"/>
{% endblock %}
{% block body %}
	<header id="header" class="header-recherche">
		<div id="logo">
			<h1 class="site-title">TechCase</h1>
		</div>
		<nav id="site-navigation" class="main-navigation navigation" role="navigation">
			<button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false">
				<span>Menu</span>
			</button>
			<div class="menu">
				<ul class="nav-menu">
					<li class="page_item page-item-1 current_page_item focus">
						<a href="/afficheRecherche" class="btn lien">
							<div>
								<p>Rechercher</p>
								<i class="fa-solid fa-magnifying-glass"></i>
							</div>
						</a>
					</li>
				</li>
				<li class="page_item page-item-2">
					<a href="/accederAuPanier" class="btn lien">
						<div>
							<p>Panier</p>
							<i class="fa-solid fa-basket-shopping"></i>
						</div>
					</a>
				</li>
			</li>
		</ul>
	</div>
</nav></header><div class="col-full">
<div id="primary">
	<main id="main" class="site-main test" role="main">
		<div class="text-select-category">
			<p>Sélectionner une catégorie</p>
		</div>
		<ul class="filter-category">
			<li class="one-category">
				<a href="/afficheRecherche">Tous</a>
			</li>
			<li class="one-category">
				<a href="/afficheRecherche/phonecase">Coques</a>
			</li>
			<li class="one-category">
				<a href="/afficheRecherche/externalbattery">Batteries externes</a>
			</li>
			<li class="one-category">
				<a href="/afficheRecherche/collaboration">Articles de collaborations</a>
			</li>
		</ul>
		<ul class="products container">
			{% for article in articles %}
				{% if loop.index0 is divisible by(4) %}
					<li class="product type-product first">
					{% else %}
						{% if loop.index is divisible by(4) %}
							<li class="product type-product last">
							{% else %}
								<li class="product type-product">
								{% endif %}
							{% endif %}
							<a class="woocommerce-LoopProduct-link woocommerce-loop-product__link " href="/descriptionArticle?id={{ article.id }}">
								<img src="{{ article.image }}" class="card-image" alt="poster_2_up"/>

								<div class="box-title">
									<h3>{{ article.titre }}</h3>
								</div>
								{% if article.id is defined and article.id in articleData|keys %}
									<div class="rating" title="Moyenne : {{ articleData[article.id]['average'] }}">
										{% set filledStars = articleData[article.id]['average'] %}
										{% set maxStars = 5 %}
										{% for i in 1..maxStars %}
											{% if i < filledStars %}
												<i class="fas fa-star"></i>
											{% else %}
												<i class="far fa-star"></i>
											{% endif %}
										{% endfor %}
									</div>
								{% endif %}
								<div>
									{% if attribute(articleData, article.id|format) is defined %}
										<p class="font-weight-bold">Nombre de votes :
											{{ articleData[article.id]['nbUsersVotes'] }}</p>
									{% endif %}
								</div>


							</a>
							<div class="price">
								<br>
								<p>{{ article.prix }}
									€</p>
								<a href="/ajouterLigne?id={{ article.id }}" class="btn btn-panier button product_type_simple add_to_cart_button">Mettre dans le panier</a>
								<a class="btn btn-info display-4" href="/descriptionArticle?id={{ article.id }}">Voir détails</a>
							</div>


						</li>
					{% endfor %}
				</ul>
			</main>
		</div>
	</div>
	<!-- .col-full -->
</div>
<!-- #content -->{% endblock %}{% block javascripts %}
<script type="text/javascript" src="/js/jplayer-2.9.2/jplayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/js/jplayer-2.9.2/add-on/jplayer.playlist.min.js"></script>
<script type="text/javascript" src="/js/audio.js"></script>
<script src="https://kit.fontawesome.com/6a27157276.js" crossorigin="anonymous"></script>{% endblock %}
