{% extends 'base.html.twig' %}
{% block stylesheets %}
		<link rel="stylesheet" id="jplayer-css" href="/js/jplayer-2.9.2/skin/blue.monday/css/jplayer.blue.monday.css" type="text/css" />
{% endblock %}
{% block body %}
				<header id="header" class="col-full">
					<div id="logo">
						<h1 class="site-title">Site web marchand</h1>
					</div>
					<nav id="site-navigation" class="main-navigation" role="navigation">
						<button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false">
							<span>Menu</span>
						</button>
						<div class="menu">
							<ul class="nav-menu">
								<li class="page_item page-item-1 current_page_item focus">
									<a href="/afficheRecherche" class="icon">
										<div>
											<p> Rechercher </p>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></svg>
										</div>
									 </a>
							
								</li>
								<li class="page_item page-item-2">
									<a href="/accederAuPanier" class="icon">
										<div> 
											<p>Panier</p>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M253.3 35.1c6.1-11.8 1.5-26.3-10.2-32.4s-26.3-1.5-32.4 10.2L117.6 192H32c-17.7 0-32 14.3-32 32s14.3 32 32 32L83.9 463.5C91 492 116.6 512 146 512H430c29.4 0 55-20 62.1-48.5L544 256c17.7 0 32-14.3 32-32s-14.3-32-32-32H458.4L365.3 12.9C359.2 1.2 344.7-3.4 332.9 2.7s-16.3 20.6-10.2 32.4L404.3 192H171.7L253.3 35.1zM192 304v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16s16 7.2 16 16zm96-16c8.8 0 16 7.2 16 16v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16zm128 16v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16s16 7.2 16 16z"></svg>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</nav>
				</header>
				<div id="content" class="site-content" tabindex="-1">
					<div class="col-full">
						<div id="primary">
							<main id="main" class="site-main" role="main">
								<header class="woocommerce-products-header">
									<h1 class="woocommerce-products-header__title page-title">Résultats de la recherche</h1>
								</header>
								<ul class="products container">
									{% for article in articles %}
												{% if loop.index0 is divisible by(3) %}
									<li class="product type-product first">
										{% else %}
											{% if loop.index is divisible by(3) %}
									<li class="product type-product last">
											{% else %}
									<li class="product type-product">
											{% endif %}
										{% endif %}
									<a class="woocommerce-LoopProduct-link woocommerce-loop-product__link "
										href="/ajouterLigne?id={{ article.id }}">
										<img src="{{ article.image }}" class="card-image" alt="poster_2_up"/>
											<div class="box-title"><h3>{{ article.titre }}</h3></div>
											<span class="price">
												<span class="amount">Catégorie</span>
												<br>
												<span class="amount">{{ article.prix }} €</span>
											</span>

									</a> <a
										href="/ajouterLigne?id={{ article.id }}"
										class="button product_type_simple add_to_cart_button">Mettre
											dans le panier</a>
											<a href="{{ path('article_show', {'id': article.id}) }}">Voir l'article</a>
										{% if article.pistes is defined %}
											{% if article.pistes|length > 0 %}
										<div id="jquery_jplayer_{{ article.id }}" class="jp-jplayer" data-idArticle="{{ article.id }}"  data-pistes="{{ article.pistes|json_encode() }}"></div>
										<div id="jp_container_{{ article.id }}" class="jp-audio" role="application">
											<div class="jp-type-playlist">
												<div class="jp-gui jp-interface">
													<div class="jp-controls-holder">
														<div class="jp-controls">
															<button class="jp-previous" role="button" tabindex="0">previous</button>
															<button class="jp-play" role="button" tabindex="0">play</button>
															<button class="jp-stop" role="button" tabindex="0">stop</button>
															<button class="jp-next" role="button" tabindex="0">next</button>
														</div>
													</div>
												</div>
												<div class="jp-playlist">
													<ul>
													</ul>
												</div>
												<div class="jp-no-solution">
													<span>Update Required</span> To play the media you will need to
													either update your browser to a recent version or update your <a
														href="http://get.adobe.com/flashplayer/" target="_blank">Flash
														plugin</a>.
												</div>
											</div>
										</div> 
											{% endif %}
										{% endif %}

									</li>
									{% endfor %}
								</ul>
							</main>
						</div>
					</div><!-- .col-full -->
				</div><!-- #content -->
{% endblock %}
{% block javascripts %}
				<script type="text/javascript" src="/js/jplayer-2.9.2/jplayer/jquery.jplayer.min.js"></script>
				<script type="text/javascript" src="/js/jplayer-2.9.2/add-on/jplayer.playlist.min.js"></script>
				<script type="text/javascript" src="/js/audio.js"></script>
{% endblock %}